* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe5b4;
  font-family: "Raleway", sans-serif;
}
header {
  background-color: #810000;
}
.icon_img {
  position: relative;
  left: 47%;
  margin-top: 2%;
  width: 5%;
}
nav {
  text-align: center;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  margin: 2%;
  color: #f5efef;
  text-decoration: none;
  padding: 1%;
  border-radius: 5px;
}
.active_link {
  background-color: #e97171;
}
.place_img {
  width: 30%;
  margin: 4%;
  margin-left: 35%;
  border-radius: 10px;
}
.place_desc {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 2%;
  font-size: 20px;
  background-color: #810000;
  color: #f5efef;
  border-radius: 10px;
  border: solid #e97171;
  margin-bottom: 3%;
}
.place_blog {
  margin: 3%;
}
.place_blog_imgs {
  display: flex;
  justify-content: space-around;
}
.blog_img {
  width: 23%;
  border: solid #e97171;
}
.place_heading {
  text-align: center;
  color: #810000;
  background-color: #e97171;
  padding: 1.5%;
  display: inline-block;
  margin-left: 45%;
  margin-bottom: 3%;
}
form {
  width: 40%;
  margin: 4% auto;
  text-align: center;
  border: solid #810000;
  border-radius: 10px;
  padding: 20px;
}
.ques {
  color: #810000;
  font-weight: bold;
}
.input_field {
  margin-bottom: 2%;
  background-color: transparent;
  border: solid #810000;
  border-radius: 5px;
  padding: 2%;
  width: 62%;
}
.submit {
  padding: 2%;
  background-color: #810000;
  border: none;
  border-radius: 30px;
  color: #ffcb8e;
  margin-top: 3%;
}

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

main {
  width: 400px;
  margin: 30px auto;
}

section {
  margin-top: 30px;
}
.pieID {
  display: inline-block;
  vertical-align: top;
}
.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 30px 30px 0;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}
.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}
.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #ddd, 2px 2px 0 #bbb;
}
.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
}

.navbar {
  height: 10vh;
}
